nav {
    position: fixed;
    top: 0px;
    width: 100%;
    color: gray; /* Default text color */
    align-items: center;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0);
    padding-right:1rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  
  nav li {
    margin-left: 20px; /* Adjust spacing between items */
  }
  
  nav a {
    text-decoration: none;
    color: gray; /* Default text color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  nav a:hover {
    color: white;
  }
  