.admin-dash {
  width: 100%;
  display: flex;
}
.admin-cntrl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-bttn {
  display: grid;
  place-items: center;
}
.plus-icon {
  position: relative;
  top: 10px;
  left: 15px;
}
