/* AnimatedLine.css */
.animated-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  width: 100%;
  max-width: 800px;
  overflow: hidden; /* Hide overflowing content */
}

.line {
  width: 2px;
  height: 2px;
  background-color: #f4efef;
  opacity: 1;
  animation: expandLine 2s ease-out forwards, splitLine 1s 1s ease-out forwards;
}

@keyframes expandLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
