.modal-content {
  padding: 5px 10px;
  border-radius: 5px;
}
.top-card {
  display: flex;
  justify-content: space-evenly;
}
.title {
  display: inline;
  width: 100%;
  text-align: center;
}
.spacer {
  width: 40px;
}
.list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}
.item {
  font-size: 14px;
  margin-right: 20px;
  list-style-type: disc;

}
