.save {
  float: right;
}
.short-input {
  width: 50%;
}
.mid-input {
  width: 80%;
}
textarea {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.55);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  width: 100%;
  min-height: 80px;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
