.drinkForm{
    width: 100%;
    height: 300px;
}
.card {
    position: relative;
}
.save{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.detail-modal .card{
    height: 500px;
}
input{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.55);
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    width: 100%;

    height: 32px;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px;
}
.short-input{
    width: 50%;
}
.mid-input{
    width: 80%;
}
textarea{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.55);
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    width: 100%;
    min-height: 80px;
}
.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.item{
    margin: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}