.drinks{
    position: relative;
    margin: 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    background-color: red;
}
.blur{
    filter: blur(5px);
}